{% extends 'base.html' %}

{% block extra_title %}Order History{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <h2 class="my-4">Order History</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.product_name }}</td>
                <td>{{ order.quantity }}</td>
                <td>€{{ order.price }}</td>
                <td>{{ order.order_date|date:"F j, Y" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">No orders found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'user_profile' %}" class="btn btn-primary">Back to Profile</a>
</div>
{% endblock %}