{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% load bag_tools %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-4">Shopping Cart</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper
                                    }}{% else %}N/A{% endif %}</p>
                                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">€{{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                <form class="form update-form" action="{% url 'adjust_cart' item.product.id %}"
                                    method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                    <input type="number" name="quantity" value="{{ item.quantity }}" min="1"
                                        class="form-control w-25 d-inline">
                                    <button type="submit" class="btn btn-sm btn-outline-primary">Update</button>
                                </form>
                            </td>
                            <td class="py-3">
                                <p class="my-0">€{{ item.product.price|calc_subtotal:item.quantity }}</p>
                            </td>
                            <td class="py-3">
                                <!-- Trigger the delete modal -->
                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#confirmDeleteModal{{ item.product.id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <div class="modal fade" id="confirmDeleteModal{{ item.product.id }}" tabindex="-1"
                            aria-labelledby="confirmDeleteModalLabel{{ item.product.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmDeleteModalLabel{{ item.product.id }}">
                                            Confirm Removal</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to remove <strong>{{ item.product.name }}</strong> from
                                        your cart?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <form action="{% url 'remove_from_cart' item.product.id %}" method="POST"
                                            class="d-inline">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                            <button type="submit" class="btn btn-danger">Remove</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        <tr>
                            <td colspan="6" class="pt-5 text-right">
                                <h6><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending just <strong>€{{ free_delivery_delta
                                        }}</strong> more!
                                </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-right">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <!-- Secure Checkout Button -->
                                <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your cart is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}