{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<main>
    <div class="overlay"></div>
    <div class="container mb-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="logo-font mb-4">Thank You for Your Purchase!</h2>
                <p>Your order has been successfully processed.</p>
                <p>We appreciate your business and hope you enjoy your purchase!</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black mt-4">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Continue Shopping</span>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
